<br>
<h3>All <%= @makes.last.tag_list %>'s</h3>

<!-- 
<% @makes.each do |make| %>
  <%= make.supercar.car_model.tag_list %>
<% end %>

 -->

<!-- 
<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
<% end %>
-->
<br>

<table class="table table-striped">
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>City</th>
    <th>Country</th>
    <th>Spotted By</th>
  </tr>
  <% @makes.each do |make| %>
    <tr>
      <td><%= make.supercar.make.tag_list %></td>
      <td><%= link_to make.supercar.car_model.tag_list, models_tag_path(make.supercar.car_model.tag_list) %></td>
      <td><%= link_to make.supercar.city.tag_list, cities_tag_path(make.supercar.city.tag_list) %></td>
      <td><%= link_to make.supercar.country.tag_list, countries_tag_path(make.supercar.country.tag_list) %></td>
      <td> 
        <% if make.supercar.user %>
          <%= make.supercar.user.username %>
        <% else %>
        <% end %>
      </td>
    </tr>
  <% end %>


</table>
<br>
<div style="text-align: right;"> 
  <%= will_paginate @makes, renderer: BootstrapPagination::Rails %>
  </div>
  <div class="container" id="tourpackages-carousel">
  <% @makes.each_slice(3).each do |group| %>
      <div class="row">
      <% group.each do |make| %>
        <div id ="thumb-grid" class="col-xs-18 col-sm-6 col-m-4 col-lg-4">
          <div class="thumbnail">
          <div class = "insta-thumb">
            <%= render :inline => make.supercar.img_url %>
          </div>
            <div class="caption">
              <br>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal_<%= make.supercar.id %>">
                Enrlarge this shiz
              </button>
              <!-- Modal -->
              <div class="modal fade" id="myModal_<%= make.supercar.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel"><%= make.tag_list %> <%= make.supercar.car_model.tag_list %> in <%= make.supercar.city.tag_list %></h4>
                    </div>
                    <div class="modal-body">
                      <%= render :inline => make.supercar.img_url %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal -->       
              <h4>Manufacturer:</h4>       
              <h5><%= link_to make.supercar.make.tag_list, makes_tag_path(make.supercar.make.tag_list) %></h5>
              <h4>Model:</h4>  
              <h5><%= link_to make.supercar.car_model.tag_list, models_tag_path(make.supercar.car_model.tag_list) %></h5>
              <h4>City:</h4>  
              <h5><%= link_to make.supercar.city.tag_list, cities_tag_path(make.supercar.city.tag_list) %></h5>
              <h4>Country:</h4>
              <h5><%= link_to make.supercar.country.tag_list, countries_tag_path(make.supercar.country.tag_list) %></h5>
              <% if make.supercar.user %>
                  <h4>Spotted by:</h4>
                  <p><%= make.supercar.user.username %></p>
                <% else %>
              <% end %>
                                              
            </div>
          </div>
        </div>
      <% end %>      
    </div><!-- End row -->
  <% end %>
  <div style="text-align: right;">  
  <%= will_paginate @makes, renderer: BootstrapPagination::Rails %> 
  </div>
</div><!-- End container -->

  