 <% @makes.reverse.each do |make| %>
 <br> 
	<h3><%= make.supercar.make.tag_list %> </h3>
	<p><%= link_to make.supercar.car_model.tag_list, models_tag_path(make.supercar.car_model.tag_list) %></p>
	<p><%= link_to make.supercar.city.tag_list, cities_tag_path(make.supercar.city.tag_list) %></p>
   	<p><%= link_to make.supercar.country.tag_list, countries_tag_path(make.supercar.country.tag_list) %></p>


    <div align="center">
    	<%= render :inline => make.supercar.img_url %>
	</div>

  <% end %>