<h1>All the supercars, dawg!</h1>
<br>

<h4>Most Recently Indexed Supercars</h4>

<table class="table table-striped">
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>City</th>
    <th>Country</th>
    <th>Spotted By</th>
    <th></th>
  </tr>
  <% @supercars.each do |supercar| %>
    <tr>
      <td><%= link_to supercar.make.tag_list, makes_tag_path(supercar.make.tag_list) %></td>
      <td><%= link_to supercar.car_model.tag_list, models_tag_path(supercar.car_model.tag_list) %></td>
      <td><%= link_to supercar.city.tag_list, cities_tag_path(supercar.city.tag_list) %></td>
      <td><%= link_to supercar.country.tag_list, countries_tag_path(supercar.country.tag_list) %></td>
      <td> 
        <% if supercar.user %>
          <%= supercar.user.username %>
        <% else %>
        <% end %>
      </td>
      <td> <%= link_to 'Edit', edit_supercar_path(supercar) %> </td>   
    </tr>
  <% end %>


</table>
<div style="text-align: right;">
 <%= will_paginate @supercars, renderer: BootstrapPagination::Rails %>  
</div>
<br>

<div class="container" id="tourpackages-carousel">
  <% @supercars.each_slice(3).each do |group| %>
      <div class="row">
      <% group.each do |supercar| %>
        <div id ="thumb-grid" class="col-xs-18 col-sm-6 col-m-4 col-lg-4">
          <div class="thumbnail">
          <div class = "insta-thumb">
            <%= render :inline => supercar.img_url %>
          </div>
            <div class="caption">
              <br>
                    
              <h3>Manufacturer:</h3>       
              <h5><%= link_to supercar.make.tag_list, makes_tag_path(supercar.make.tag_list) %></h5>
              <h3>Model:</h3>  
              <h5><%= link_to supercar.car_model.tag_list, models_tag_path(supercar.car_model.tag_list) %></h5>
              <h3>City:</h3>  
              <h5><%= link_to supercar.city.tag_list, cities_tag_path(supercar.city.tag_list) %></h5>
              <h3>Country:</h3>
              <h5><%= link_to supercar.country.tag_list, countries_tag_path(supercar.country.tag_list) %></h5>
              <% if supercar.user %>
                  <h3>Spotted by:</h3>
                  <p><%= supercar.user.username %></p>
                <% else %>
              <% end %>
                                              
            </div>
          </div>
        </div>
      <% end %>
    </div><!-- End row -->
  <% end %>
  <div style="text-align: right;"> 
  <%= will_paginate @supercars, renderer: BootstrapPagination::Rails %>
  </div>  
</div><!-- End container -->