<h1>Supercar Index, Dawg!</h1>

<h5><%= link_to "Upload Supercar", "/supercars/new" %></h5>


<table class="table table-striped">
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>City</th>
    <th>Country</th>    
  </tr>

  <% @supercars.each do |supercar| %>
  <tr>
    <td><%= supercar.make.tag_list %></td>
    <td><%= supercar.car_model.tag_list %></td>
    <td><%= supercar.city.tag_list %></td>
    <td><%= supercar.country.tag_list %></td>
  </tr>

  <% end %>

</table>

<% @supercars.each do |supercar| %>
		<%= link_to image_tag(supercar.img_url), "/supercars/#{supercar.id}" %>
<% end %>