<%= form_for([@supercar]) do |f| %>

 <%= fields_for(@supercar.make) do |m| %>
 <div class="field">
   <%= m.label :Make %><br />
   <%= m.text_field :name %>
 </div>
 <% end %>
 <%= fields_for(@supercar.car_model) do |c| %>
 <div class="field">
   <%= c.label :Model %><br />
   <%= c.text_field :name %>
 </div>
 <% end %>
 <%= fields_for(@supercar.city) do |i| %>
 <div class="field">
   <%= i.label :City %><br />
   <%= i.text_field :name %>
 </div>
 <% end %>
 <%= fields_for(@supercar.country) do |o| %>
 <div class="field">
   <%= o.label :Country %><br />
   <%= o.text_field :name %>
 </div>
 <% end %>
 <div class="field">
   <%= f.label :img_url %><br />
   <%= f.text_field :img_url %>
 </div>
 <div class="actions">
   <%= f.submit %>
 </div>
 <% end %>