<%= link_to "Back to Supercars", supercars_url %> |  <%= link_to "Delete", @supercar, method: :delete, data: {confirm: "Are you sure you want to delete this picture?"}  %>




    <p><%= @supercar.make.tag_list %></p>
    <p><%= @supercar.car_model.tag_list %></p>
    <p><%= @supercar.city.tag_list %></p>
    <p><%= @supercar.country.tag_list %></p>
	
	<%= image_tag(@supercar.img_url) %>