   <% @countries.reverse.each do |country| %>
<br>
	<p><%= link_to country.supercar.make.tag_list, makes_tag_path(country.supercar.make.tag_list) %></p>
	<p><%= link_to country.supercar.car_model.tag_list, models_tag_path(country.supercar.car_model.tag_list) %></p>
	<p><%= link_to country.supercar.city.tag_list, cities_tag_path(country.supercar.city.tag_list) %></p>
    <h3><%= country.supercar.country.tag_list %> </h3>	


    <div align="center">
    	<%= render :inline => country.supercar.img_url %>
    </div>


  <% end %>