<% @countries.each do |country| %>
  <tr>
    <td><%= country.tag_list %></td>
    <td><%= country.supercar.car_model.tag_list %> </td>
    <td><%= country.supercar.city.tag_list %> </td>
    <td><%= country.supercar.country.tag_list %> </td>

    <%= image_tag(country.supercar.img_url) %>

  </tr>

  <% end %>