 <br>
<h3>All <%= @cities.first.supercar.make.tag_list %> <%= @cities.first.supercar.car_model.tag_list %>'s in <%= @cities.first.tag_list %> </h3>
<br>

<table class="table table-striped">
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>City</th>
    <th>Country</th>
    <th>Spotted By</th>
  </tr>
  <% @cities.each do |city| %>
    <tr>
      <td><%= link_to city.supercar.make.tag_list, makes_tag_path(city.supercar.make.tag_list) %></td>
      <td><%= link_to city.supercar.car_model.tag_list, models_tag_path(city.supercar.car_model.tag_list) %></td>
      <td><%= city.supercar.city.tag_list %></td>
      <td><%= link_to city.supercar.country.tag_list, countries_tag_path(city.supercar.country.tag_list) %></td>
      <td> 
        <% if city.supercar.user %>
          <%= city.supercar.user.username %>
        <% else %>
        <% end %>
      </td>
    </tr>
  <% end %>


</table>
<br>
<h3>Spots from <%= @cities.first.tag_list %> </h3>
<br>
<div style="text-align: right;">
 <%= will_paginate @cities, renderer: BootstrapPagination::Rails %>  
</div>
  <div class="container" id="tourpackages-carousel">
  <% @cities.each_slice(3).each do |group| %>
      <div class="row">
      <% group.each do |city| %>
        <div id ="thumb-grid" class="col-xs-18 col-sm-6 col-m-4 col-lg-4">
          <div class="thumbnail">
          <div class = "insta-thumb">
            <%= render :inline => city.supercar.img_url %>
          </div>
            <div class="caption">
              <br>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal_<%= city.supercar.id %>">
                Enrlarge this shiz
              </button>
              <!-- Modal -->
              <div class="modal fade" id="myModal_<%= city.supercar.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                      <%= render :inline => city.supercar.img_url %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal -->       
              <h3>Manufacturer:</h3>       
              <h5><%= link_to city.supercar.make.tag_list, makes_tag_path(city.supercar.make.tag_list) %></h5>
              <h3>Model:</h3>  
              <h5><%= link_to city.supercar.car_model.tag_list, models_tag_path(city.supercar.car_model.tag_list) %></h5>
              <h3>City:</h3>  
              <h5><%= link_to city.supercar.city.tag_list, cities_tag_path(city.supercar.city.tag_list) %></h5>
              <h3>Country:</h3>
              <h5><%= link_to city.supercar.country.tag_list, countries_tag_path(city.supercar.country.tag_list) %></h5>
              <% if city.supercar.user %>
                  <h3>Spotted by:</h3>
                  <p><%= city.supercar.user.username %></p>
                <% else %>
              <% end %>
                                              
            </div>
          </div>
        </div>
      <% end %>      
    </div><!-- End row -->
  <% end %> 
<div style="text-align: right;">
 <%= will_paginate @cities, renderer: BootstrapPagination::Rails %>  
</div>   
</div><!-- End container -->